<header class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
    <!-- ชื่อเว็บไซต์ -->
     <div class="flex items-center">
          <!-- ไอคอนร้านอาหาร -->
         <img src="https://www.svgrepo.com/show/490311/restaurant-waiter.svg"  class="h-10 w-10 mr-2">
          <h1 routerLink="/" class="font-serif text-2xl font-bold text-gray-800">NoobRestaurant</h1>
     </div>
   
    <!-- เมนู -->
    <div class="space-x-4">
      <a routerLink="/home" class="text-gray-600 hover:text-blue-600 font-medium">Login</a>
      <a routerLink="/register" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">Register</a>
      <a routerLink="/testpage" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">Testpage</a>

    </div>
  </div>
</header>
